/*------------Service Section------------*/
/*---------------------------------------*/
.serviceSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    margin: 0 0 2rem;
    background: var(--white-color);
}

.serviceFirst h3{
    font-size: var(--font-twentyFour);
    line-height: 2.5rem;
    font-weight: 600;
}

.serviceFirst{
    width: auto;
    margin-bottom: 2rem;
}

.serviceCard{
    padding: .75rem;
    margin: 1rem 1rem 2rem;
    width: auto;
}

.serviceCard img{
    width: 60px;
}

.serviceCard h4{
    font-size: var(--font-eighteen);
    font-weight: 600;
    padding: 1rem 0;
}

.serviceCard p{
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
}

@media screen and (min-width: 900px) {
    .serviceSection{
        margin: 3rem 0 0;
    }
}

@media screen and (min-width: 1024px){
    .serviceFirst{
        width: 300px;
    }

    .serviceFirst h3{
        margin-top: 1.3rem;
    }

    .serviceCard{
        width: 280px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .serviceFirst{
        width: 350px;
    }

    .serviceCard{
        width: 300px;
    }
}
